<tr>
  <td><%= check_box_tag('check[]',slide.id,false, :onchange =>"check();",class: 'check_')%></td>
  <td><%= slide.id%></td>
  <td><%= slide.head %></td>
  <td><%= slide.description %></td>
  <td><%= image_tag(slide.image,size:'150x150') %></td>
  <td><%= check_box_tag('active[]',slide.id,slide.active,:onClick =>"active(this);",id: "active_#{slide.id}") %></td>
  <td>
    <%= link_to t('admin.action.edit'),edit_admin_slide_path(slide) %> &nbsp; &nbsp;
    <%= link_to t('admin.action.delete'),admin_slide_path(slide),method: :delete,data:{confirm:'Are you ok?'} %>
  </td>
</tr>
