<div id="main-content">
  <div id="action">
    <div class="action">
      <%= button_to t('admin.main.addnew'),new_admin_slide_path,class:'btn btn-primary', method: :get %>
      <%= form_for :check ,url:delete_admin_slides_path, method: :delete do |f| %>
      <%= f.submit t('admin.main.del_many'), :disable_with => 'Delete Manying...',id:'delete', disabled: true,data:{:confirm=>"Are you sure ?"}, class:'btn btn-danger' %>
    </div>
  </div>
  <div id="main">
    <table class="table table-bordered">
      <tr class="head">
        <th><input type="checkbox" id="checkall" name="checkall" onchange="check_all();"></th>
        <th>ID</th>
        <th><%= t('admin.slide.table.head')%></th>
        <th><%= t('admin.slide.table.description')%></th>
        <th><%= t('admin.slide.table.image')%></th>
        <th><%= t('admin.slide.table.active')%></th>
        <th><%= t('admin.main.action')%></th>
      </tr>
      <%= render  @slides %>
    </table>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  function active($this){
    $.ajax({
      url: "/admin/slides/"+$this.value,
      type: 'put',
      data:{active: $($this).prop('checked')},
      success: function(data){
        console.log("thanh cong");
      },
      error: function(){
        console.log("failed");
      }

    })
  }
</script>
