<%= stylesheet_link_tag "admin/login" %>
<div id="login">
	<%= form_for :member , url: admin_login_index_path, method: :post do |f|%>
		<fieldset>
			<legend>LOGIN</legend>
			<% if flash[:notice] %>
				<p class="err"><%= flash[:notice]%></p>
			<% end -%>
			<div class="login">
				<p>
					<%= f.label :Name, "Name" %>
					<%= f.text_field :username %>	
				</p>
				<p>
					<%= f.label :password, "Password" %>
					<%= f.password_field :password %>
				</p>
				<p style="width:100%;text-align:right;">
					<%= f.submit "Login", :disable_with => 'Logining...' %>
				</p>
			</div>
		</fieldset>
	<% end -%>
</div>