
<div id="content-header">
	<div id="title">
		<%= t('admin.member.header.title_edit')%>
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu"><%= button_to t('admin.main.back'),admin_members_path, method:'get',class: 'btn btn-primary' %></li>
		</ul>
	</div>
</div>
<%= form_for :member , url: admin_member_path(@member), method: :put  do |f| %>
<div id="main-content">
	<div id="box">
		<div id="action">
			<div class="title">
				<%= t('admin.member.header.title_info')%>
			</div>
			<div class="action">
				<ul>
					<li><%= f.submit t('admin.main.update'), :disable_with => 'Adding...' , class: 'btn btn-primary'%></li>
					<li><%= f.submit t('admin.main.reset'), :disable_with => 'Reseting...',class: 'btn btn-primary', type:'reset' %></li>
				</ul>
			</div>
		</div>
		<div id="main">
			<table class="table">
				<% if @member.errors.any? %>
				    <div id="error">
				      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>
				      <ul>
				      <% @member.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				<% end %>
				<tr>
					<td class="left tbl-config"><%= f.label :username, t('admin.member.table.username') %></td>
					<td><%= f.text_field :username , class:'text_field',:readonly=>"true"%></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :fullname, t('admin.member.table.fullname') %></td>
					<td><%= f.text_field :fullname ,class:'text_field'%></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :gender, t('admin.member.table.gender') %></td>
					<td><%= select_tag'member[gender]',options_for_select({"Male" => 0, "FeMale" =>1},"#{@member.gender}"),class:'text_field' %></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :indentity_card, t('admin.member.table.indentity_card') %></td>
					<td><%= f.text_field :indentity_card, class:'text_field' %></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :birthday, t('admin.member.table.birthday')%></td>
					<td><%= f.text_field :birthday ,class:'text_field'%></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :Address, t('admin.member.table.address') %></td>
					<td><%= f.text_field :address ,class:'text_field'%></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :email, t('admin.member.table.email') %></td>
					<td><%= f.email_field :email ,class:'text_field'%></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<% end -%>
