<div id="content-header">
	<div id="title">
		<%= t('admin.member.header.title_index')%>
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu"><%= link_to t('admin.member.header.member_all'),admin_members_path%></li>
			<!-- <li class="content-menu">Danh sách quyền</li> -->
		</ul>
	</div>
</div>
<div id="main-content">
	<div id="action">
		<div id="search">
			<%= form_tag(admin_members_path, :method=>"get") do %>
				<%= text_field_tag :search,params[:search], placeholder:'Nhập tên', class:'form-control' %>
				<%= submit_tag t('admin.main.search'), :disable_with => 'Search...',name: 'member[search]'  ,class:'btn btn-primary'%>
			<% end -%>
		</div>
		<div class="action">
			<%= button_to t('admin.main.addnew'),new_admin_member_path,class:'btn btn-primary', method: :get %>
			<%= form_for :check ,url:delete_admin_members_path do |f| %>
			<%= f.submit t('admin.main.del_many'), :disable_with => 'Delete Manying...',id:'delete', disabled: true,data:{:confirm=>"Are you sure ?"}, class:'btn btn-danger' %>
		</div>
	</div>
	<div id="main">
		<table class="table table-bordered">
			<tr class="head">
				<th><input type="checkbox" id="checkall" name="checkall" onchange="check_all();"></th>
				<th>ID</th>
				<th><%= t('admin.member.table.username')%></th>
				<th><%= t('admin.member.table.fullname')%></th>
				<th><%= t('admin.member.table.gender')%></th>
				<th><%= t('admin.member.table.indentity_card')%></th>
				<th><%= t('admin.member.table.email')%></th>
				<th><%= t('admin.member.table.role')%></th>
				<th><%= t('admin.member.table.created_at')%></th>
				<th><%= t('admin.main.action')%></th>
			</tr>
			<%= render @member.count > 0 ? @member : "not"%>
		</table>
		<% end %>
		<%= will_paginate @member %>
	</div>
</div>
