<div id="content-header">
	<div id="title">
		Danh sách thành viên
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu">Tất cả thành viên</li>
			<li class="content-menu">Danh sách quyền</li>
		</ul>
	</div>
</div>
<div id="main-content">
	<div id="action">
		<div id="search">
			<%= form_tag(admin_members_path, :method=>"get") do %>
				<%= text_field_tag :search,params[:search], placeholder:'Nhập tên', class:'text_field' %>
				<%= submit_tag "Search", :disable_with => 'Search...',name: 'member[search]'  ,class:'btn'%>
			<% end -%>
		</div>
		<div class="action">
			<%= button_to'Add New',new_admin_member_path,class:'btn', method: :get %>
		</div>
	</div>
	<div id="main">
		<table class="table">
			<tr>
				<th>ID</th>
				<th>UserName</th>
				<th>Password</th>
				<th>FullName</th>
				<th>Gender</th>
				<th>Indentity Card</th>
				<!-- <th>Birthday</th> -->
				<!-- <th>Address</th> -->
				<th>Email</th>
				<th>Create</th>
				<th>Update</th>
				<th>Action</th>
			</tr>
			<% @member.each do |member_info|%>
				<tr>
					<td><%= member_info.id%></td>
					<td><%= member_info.username %></td>
					<td><%= member_info.password %></td>
					<td><%= member_info.fullname %></td>
					<td><%= member_info.gender==1?'Nam': 'Nữ' %></td>
					<td><%= member_info.indentity_card %></td>
					<!-- <td><%= member_info.birthday %></td> -->
					<!-- <td><%= member_info.address %></td> -->
					<td><%= member_info.email %></td>
					<td><%= member_info.created_at %></td>
					<td><%= member_info.updated_at %></td>
					<td>
						<%= link_to'Edit',edit_admin_member_path(member_info) %> &nbsp; &nbsp;
						<%= link_to'Delete',admin_member_path(member_info),method: :delete, data: { confirm:'Are you ok?'} %>&nbsp; &nbsp;
						<%= link_to'View',admin_member_path(member_info) %>
					</td>
				</tr>
			<% end -%>
		</table>
	</div>
</div>