</script>
<div id="content-header">
	<div id="title">
		Add Member
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu"><button class='btn'><%= link_to"Back",admin_members_path %></button></li>
		</ul>
	</div>
</div>
<%= form_for :member , url: admin_members_path do |f| %>
<div id="main-content">
	<div id="box">
		<div id="action">
			<div class="title">
				Member Infomation
			</div>
			<div class="action">
				<ul>
					<li><%= f.submit "Add", :disable_with => 'Adding...' , class:'btn'%></li>
					<li><%= f.submit "Reset", :disable_with => 'Reseting...',class: 'btn', type:'reset' %></li>
				</ul>
			</div>
		</div>
		<div id="main">
			  <% if @member.errors.any? %>
			    <div id="error">
			      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>
			      <ul>
			      <% @member.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			<table>
				<tr>
					<td class="left"><%= f.label :username, "User Name" %></td>
					<td><%= f.text_field :username , class:'text_field'%></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :password, "Password" %></td>
					<td><%= password_field :member,:password, class:'text_field' %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :password_confirm, "Password Confirm" %></td>
					<td><%= password_field :member ,:password_confirmation, class:'text_field' %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :fullname, "Fullname" %></td>
					<td><%= f.text_field :fullname ,class:'text_field'%></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :gender, "Gender" %></td>
					<td><%= select_tag'member[gender]',options_for_select('Male'=>0,'Female'=>1), class:'text_field' %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :indentity_card, "Indentity Card" %></td>
					<td><%= f.text_field :indentity_card, class:'text_field' %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :birthday, "Birthday" %></td>
					<td><%= f.text_field :birthday ,class:'text_field'%></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :Address, "Address" %></td>
					<td><%= f.text_field :address ,class:'text_field'%></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :email, "Email" %></td>
					<td><%= f.email_field :email ,class:'text_field'%></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<% end -%>