
<div id="content-header">
	<div id="title">
		<%= t('admin.member.header.title_profile')%>
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu"><%= button_to t('admin.action.edit'),edit_admin_member_path(@member.id),:method =>:get, class: 'btn btn-primary'%></li>
			<li class="content-menu"><%= button_to t('admin.main.back'), admin_members_path, class: "btn btn-primary", :method => :get %></li>
		</ul>
	</div>
</div>
<%= form_for :member , url: admin_members_path do |f| %>
<div id="main-content">
	<div id="box">
		<div id="action">
			<div class="title">
				<%= t('admin.member.header.title_info')%>
			</div>
		</div>
		<div id="main">
			<table class="table">
				<tr>
					<td class="left tbl-config"><%= f.label :username, t('admin.member.table.username') %></td>
					<td><%= @member.username%></td>
				</tr>
<!-- 				<tr>
					<td class="left"><%= f.label :password, "Password :" %></td>
					<td><%= @member.password%></td>
				</tr> -->
				<tr>
					<td class="left tbl-config"><%= f.label :fullname, t('admin.member.table.fullname') %></td>
					<td><%= @member.fullname%></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :gender, t('admin.member.table.gender') %></td>
					<td><%= @member.gender == 1?'Nữ': 'Nam' %></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :indentity_card, t('admin.member.table.indentity_card') %>
					<td><%= @member.indentity_card %></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :birthday, t('admin.member.table.birthday')%></td>
					<td><%= @member.birthday %></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :Address, t('admin.member.table.address') %></td>
					<td><%= @member.address %></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :email, t('admin.member.table.email') %></td>
					<td><%= @member.email %></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :create, "Created " %></td>
					<td><%= @member.created_at.to_s(:long) %></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :upate, "Upate " %></td>
					<td><%= @member.updated_at.to_s(:long) 	%></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<% end -%>
