<div id="content-header">
	<div id="title">
		Thông tin thành viên
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu"><button class='btn'><%= link_to"Back",admin_members_path %></button></li>
		</ul>
	</div>
</div>
<%= form_for :member , url: admin_members_path do |f| %>
<div id="main-content">
	<div id="box">
		<div id="action">
			<div class="title">
				Thông tin thành viên
			</div>
		</div>
		<div id="main">
			<table>
				<tr>
					<td class="left"><%= f.label :username, "User Name :" %></td>
					<td><%= @member.username%></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :password, "Password :" %></td>
					<td><%= @member.password%></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :fullname, "Fullname :" %></td>
					<td><%= @member.fullname%></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :gender, "Gender :" %></td>
					<td><%= @member.gender == 1?'Nam': 'Nữ' %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :indentity_card, "Indentity Card :" %></td>
					<td><%= @member.indentity_card %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :birthday, "Birthday :" %></td>
					<td><%= @member.birthday %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :Address, "Address :" %></td>
					<td><%= @member.address %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :email, "Email :" %></td>
					<td><%= @member.email %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :create, "Created :" %></td>
					<td><%= @member.created_at %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :upate, "Upate :" %></td>
					<td><%= @member.updated_at 	%></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<% end -%>