</script>
<div id="content-header">
	<div id="title">
		Add news
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu"><%= button_to"Back",admin_news_index_path,method:'get',class:'btn' %></li>
		</ul>
	</div>
</div>
<%= form_for :news , url: admin_news_index_path, method: :post do |f| %>
<div id="main-content">
	<div id="box">
		<div id="action">
			<div class="title">
				News Infomation
			</div>
			<div class="action">
				<ul>
					<li><%= f.submit "Add", :disable_with => 'Adding...' , class:'btn'%></li>
					<li><%= f.submit "Reset", :disable_with => 'Reseting...',class: 'btn', type:'reset' %></li>
				</ul>
			</div>
		</div>
		<div id="main">
			<table>
				<tr>
					<td class="left"><%= f.label :title, "Title" %></td>
					<td><%= f.text_area :title , class: 'title'%></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :description, "Description" %></td>
					<td><%= f.text_area :discription, class: 'short_content' %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :content, "Content" %></td>
					<td> <%= f.cktext_area :content ,:ckeditor => {:width => 1000}%></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<% end -%>