<%= provide(:title,controller.controller_name)%>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<%= stylesheet_link_tag "application"%>
	<%= javascript_include_tag "application"%>
	<%= csrf_meta_tag %>
</head>
<body>
	<div id="wraper">
		<div id="header">
			Administration
		</div>
		<div id="menu">
			<div class="main-menu">
				<ul class="main-menu">
					<li class='<%= controller_name == "home" ? "main-menu active" : " main-menu " %>'><%= link_to'Home',admin_home_index_path %></li>
					<li class='<%= controller_name == "members" ? "main-menu active" : " main-menu " %>'><%= link_to'Member',admin_members_path %></li>
					<li class='<%= ['products','categories','trademaks'].include?(controller_name) ? "main-menu active" : " main-menu " %>'><%= link_to'Product', admin_products_path%></li>
					<li class='<%= controller_name == "news" ? "main-menu active" : " main-menu " %>'><%= link_to'News', admin_news_index_path%></li>
					<li class='<%= controller_name == "contacts" ? "main-menu active" : " main-menu " %>'><%= link_to'Contact',admin_contacts_path%></li>
					<li class='<%= controller_name == "config" ? "main-menu active" : " main-menu " %>'><%= link_to'Setting', admin_config_index_path, data: {"no-turbolink" => true} %></li>
				</ul>
			</div>
			<div id="info">
				<ul class="info">
					<li class="info">Hi, <strong><%= session[:user_data][:fullname] %></strong></li>
					<li class="info"><%= link_to"Infomation",admin_member_path(session[:user_data][:id], method:'get')%></li>
					<li class="info"><%= link_to"Logout",admin_login_destroy_path, method: :delete, data:{confirm:'Are you logout ?'}%></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<%= yield %>
		</div>
		<div id="footer">
			Copyright &copy by HoangKien
		</div>
	</div>
</body>
</html>
