
<div id="content-header">
	<div id="title">
		Profile
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<!-- <li class="content-menu"><button class="btn"><%= link_to"Edit"%></button></li> -->
			<li class="content-menu"><button class='btn'><%= link_to"Back",admin_contacts_path %></button></li>
		</ul>
	</div>
</div>
<%= form_for :contact , url: admin_contacts_path do |f| %>
<div id="main-content">
	<div id="box">
		<div id="action">
			<div class="title">
				Thông tin liên hệ
			</div>
		</div>
		<div id="main">
			<table class="table">
				<tr>
					<td class="left tbl-config"><%= f.label :name, "Name " %></td>
					<td><%= @contact.name%></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :phone, "Phone " %></td>
					<td><%= @contact.phone%></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :email,"Email "%></td>
					<td><%= @contact.email %></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :company,"Company "%></td>
					<td><%= @contact.company %></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :subject, "Subject " %></td>
					<td><%= @contact.subject%></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<% end -%>
