
<div id="content-header">
	<div id="title">
		Profile
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu"><button class="btn"><%= link_to"Edit",edit_admin_contact_path(@contact.id)%></button></li>
			<li class="content-menu"><button class='btn'><%= link_to"Back",admin_contacts_path %></button></li>
		</ul>
	</div>
</div>
<%= form_for :contact , url: admin_contacts_path do |f| %>
<div id="main-content">
	<div id="box">
		<div id="action">
			<div class="title">
				contact Infomation
			</div>
		</div>
		<div id="main">
			<table>
				<tr>
					<td class="left"><%= f.label :username, "User Name :" %></td>
					<td><%= @contact.username%></td>
				</tr>
<!-- 				<tr>
					<td class="left"><%= f.label :password, "Password :" %></td>
					<td><%= @contact.password%></td>
				</tr> -->
				<tr>
					<td class="left"><%= f.label :fullname, "Fullname :" %></td>
					<td><%= @contact.fullname%></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :gender, "Gender :" %></td>
					<td><%= @contact.gender == 1?'Nữ': 'Nam' %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :indentity_card, "Indentity Card :" %></td>
					<td><%= @contact.indentity_card %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :birthday, "Birthday :" %></td>
					<td><%= @contact.birthday %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :Address, "Address :" %></td>
					<td><%= @contact.address %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :email, "Email :" %></td>
					<td><%= @contact.email %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :create, "Created :" %></td>
					<td><%= @contact.created_at %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :upate, "Upate :" %></td>
					<td><%= @contact.updated_at 	%></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<% end -%>