<div class="menu">
  <ul class="list-group" style="margin:0px">
    <li class= <%= "active" if (controller_name == "home" && action_name == "index")%>>
      <%= link_to t('home.menu.home'), home_path, method: :get%>
    </li>
    <li class= <%= "active" if ((controller_name == "products" && action_name == "index") or (controller_name == "products"))%>><%= link_to t('home.menu.product'),products_path %></li>
    <li class= <%= "active" if (controller_name == "home" && action_name == "about")%>><%= link_to t('home.menu.about'), about_path%></li>
    <li class= <%= "active" if (controller_name == "home" && action_name == "service")%>><%= link_to t('home.menu.service'),service_path %></li>
    <li class= <%= "active" if (controller_name == "home" && action_name == "contact")%>><%= link_to t('home.menu.contact'), contact_path%></li>
    <li class= <%= "active" if (controller_name == "home" && action_name == "map")%>><%= link_to t('home.menu.map'), map_path%></li>
    <div class="clear"></div>
  </ul>
</div>
