<% provide(:title,controller.controller_name)%>
<!DOCTYPE HTML>
<head>
<title>Nước sạch Hà Dũng</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&language=vi"></script>
<%= stylesheet_link_tag "application"%>
<%= javascript_include_tag "application"%>
<%= csrf_meta_tag %>
</head>
<body id= "home" style="position:relative">
	<%= image_tag"/assets/banner_.jpg", class: "banner-left"%>
	<%= image_tag"/assets/banner_2.jpg" ,class: "banner-right"%>
  <div class="wrap">
		<div class="header">
			<div class="header_top">
				<div class="logo">
					<div class="right" style="width:100%">
						<div class="img">
						<%= image_tag("slide/imgo.jpg", style:"width: 100%;") %>
						</div>
						<div class="add">
						<!-- <span>Dia chi: </span> -->
						</div>
					</div>
				</div>
	  </div>
	  <div class="clear"></div>
		<div class="header_bottom">
				<%= render "layouts/home/menu"%>
	     	<div class="search_box">
	     		<%= form_tag(products_search_path, :method=>"get",style: "height:26px") do %>
						<%= text_field_tag :search,params[:search], placeholder:'Search...', class:'text_field' %>
					<% end -%>
	     	</div>
	     	<div class="clear"></div>
	     </div>
    </div>
    <%= yield %>
    <div class="footer">
   		<%= render "layouts/home/footer"%>
    </div>
    <a href="#" id="toTop"><span id="toTopHover"></span></a>
	  <script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});
			});
			$(document).ready(function() {
				$().UItoTop({ easingType: 'easeOutQuart' });
			});

		</script>
		</script>
			<!-- BEGIN JIVOSITE CODE {literal} -->
				<script lang="javascript">
				(function() {var _h1= document.getElementsByTagName('title')[0] || false;
				var product_name = ''; if(_h1){product_name= _h1.textContent || _h1.innerText;}var ga = document.createElement('script'); ga.type = 'text/javascript';
				ga.src = '//live.vnpgroup.net/js/web_client_box.php?hash=6ae574785f3d081ca0bd0df755d50b4a&data=eyJzc29faWQiOjE3NDUzNTcsImhhc2giOiIzZmU2OTE4MTVhYTBiNjVkYTY2Y2JjYjM5Zjc4M2U3NSJ9&pname='+product_name;
				var s = document.getElementsByTagName('script');s[0].parentNode.insertBefore(ga, s[0]);})();
				</script>
		<!-- {/literal} END JIVOSITE CODE -->
</body>
</html>

