<% provide(:title,controller.controller_name)%>
<!DOCTYPE HTML>
<head>
<title><%= controller.controller_name+"  "+params[:action]%></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<%= stylesheet_link_tag "home/style"%>
<%= stylesheet_link_tag "home/slider"%>
<%= javascript_include_tag "home/jquery-1.7.2.min"%>
<%= javascript_include_tag "home/move-top"%>
<%= javascript_include_tag "home/easing"%>
<%= javascript_include_tag "home/startstop-slider"%>
</head>
<body onLoad="initialize()">
  <div class="wrap">
	<div class="header">
		<!--<div class="headertop_desc">
			<div class="call">
				 <p><span>Need help?</span> call us <span class="number">04 6269 1686</span></span></p>
			</div> 
			<div class="account_desc">
				<ul>
					<li><%= link_to"Register",'#' %></li>
					<li><a href="#">Login</a></li>
					<li><a href="#">Delivery</a></li>
					<li><a href="#">Checkout</a></li>
					<li><a href="#">My Account</a></li>
				</ul> 
			</div>
			<div class="clear"></div>
		</div>-->
		<div class="header_top">
<!-- 			<div class="cart">
			  	   <p>Welcome to our Online Store! <span>Cart:</span><div id="dd" class="wrapper-dropdown-2"> 0 item(s) - $0.00
			  	   	<ul class="dropdown">
							<li>you have no items in your Shopping cart</li>
					</ul></div></p>
			</div> -->
			<div class="logo">
				<a href="index.html"><%= link_to image_tag("home/header.jpg"),home_path %></a>
			</div>
			  <script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});

			});

		</script>
	 <div class="clear"></div>
  </div>
	<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li class="home"><%= link_to"Home", home_path%></li>
			    	<li class="about"><%= link_to"About", about_path%></li>
			    	<li class="product"><%= link_to"Product",products_path %></li>
			    	<li class="news"><%= link_to"News",news_path%></li>
			    	<li class="contact"><%= link_to"Contact", contact_path%></li>
			    	<li class="service"><%= link_to"Service",service_path %></li>
			    	<div class="clear"></div>
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<%= form_tag(search_home_products_path, :method=>"get") do %>
					<%= text_field_tag :search,params[:search], placeholder:'Search...', class:'text_field' %>
					<% end -%>
	     	</div>
	     	<div class="clear"></div>
	     </div>
   </div>
   <%= yield %>
   <div class="footer">
   	  <div class="wrap">	
	     <div class="section group">
				<div class="col_1_of_4 span_1_of_4">
						<h4>Thông tin công ty</h4>
						<ul>
						<li>Công ty TNHH thương mại và dịch vụ Bích Phong</li>
						<li> VPGD : số 42 ngách 23/12 - Xuân La - Tây Hồ - Hà Nội</li>
						<li>Hotline : 0938966386 / 01668 721 165</li>
						<li>Email :manhledtime@gmail.com /  ledtime68@gmail.com</li>
						<li>Giờ làm việc: 8h30 - 17h30 từ thứ 2 đến thứ 7.</li>
						</ul>
					</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4> Đơn vị thiết kế web</h4>
						<ul>
							<li>Công ty cổ phần Hiworld</li>
							<li>Mail :info＠hiworld.com.vn</li>
							<li>Website :http://hiworld.com.vn</li>
						</ul>
				</div>
			</div>			
        </div>
        <div class="copy_right">
				<p>Company Name © All rights Reseverd | Design by  <%= link_to"http://hiworld.com.vn","http://hiworld.com.vn" %> </p>
		   </div>
    </div>
    <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>

