<% provide(:title,controller.controller_name)%>
<!DOCTYPE HTML>
<head>
<title>Nước sạch Hà Dũng</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<%= stylesheet_link_tag "application"%>
<%= javascript_include_tag "application"%>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&language=vi"></script>
<%= csrf_meta_tag %>
</head>
<body>
  <div class="wrap">
	<div class="header">
		<!--<div class="headertop_desc">
			<div class="call">
				 <p><span>Need help?</span> call us <span class="number">04 6269 1686</span></span></p>
			</div>
			<div class="account_desc">
				<ul>
					<li><%= link_to"Register",'#' %></li>
					<li><a href="#">Login</a></li>
					<li><a href="#">Delivery</a></li>
					<li><a href="#">Checkout</a></li>
					<li><a href="#">My Account</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>-->
		<div class="header_top">
<!-- 			<div class="cart">
			  	   <p>Welcome to our Online Store! <span>Cart:</span><div id="dd" class="wrapper-dropdown-2"> 0 item(s) - $0.00
			  	   	<ul class="dropdown">
							<li>you have no items in your Shopping cart</li>
					</ul></div></p>
			</div> -->
			<div class="logo">
				<div class="left" style="float:left;padding-left:5px">
					<a href="index.html"><%= link_to image_tag("/assets/logo1.png",style: 'height:130px;padding-left:20px'),home_path %></a>
					<!-- <h1 style="  margin-top: -29px;color:rgb(15, 103, 93);font-weight:bold"> CÔNG TY NƯỚC SẠCH HÀ DŨNG</h1>
					<h1><img src='/assets/telephone_32.ico' style="float:left;width:30px" /><label style="  lin e-height: 30px;font-size: 20px;padding: 0px 36px;color:red">01679.380.632</label></h1>
					<!-- <h1>Địa chỉ: Từ Hồ - Yên Phú - Yên Mỹ - Hưng Yên</h1> -->
				</div>
				<div class="right" style="float:left;margin-left:20px">
<!-- 					<div class="intro" style="padding-top:23px">
						<p><span style="  color: rgb(40, 124, 176);font-size: 23px;text-shadow: 1px 1px 2px red;text-decoration: underline;">Chuyên cung cấp: </span><span style="  line-height: 23px;font-size: 19px;padding-left: 10px;color: rgb(19, 152, 152);"> Các thiết bị - Hệ thống - Linh kiện - Vật liệu lọc nước</span></p>
					</div> -->
					<div class="img">
					<img src="/assets/imgo.jpg" style="width: 830px;" />
<!-- 						<img src="/assets/vatlieu.jpg" style="  width: 315px;height: 78px"/>
						<img src="/assets/maylocnuoc.jpg" style="width:83px"/>
						<img src="/assets/hethong.jpg" style="width:143px"/>
						<img src="/assets/banner.jpg" style="width:240px"/ -->
					</div>
					<div class="add">
					<!-- <span>Dia chi: </span> -->
					</div>
				</div>
			</div>
			  <script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});

			});

		</script>
  </div>
  <div class="clear"></div>
	<div class="header_bottom">
 	     	<div class="menu">
	     		<ul class="list-group">
			    	<li class= <%= "active" if (controller_name == "home" && action_name == "index")%>><%= link_to"Trang chủ", home_path, method: :get%></li>
			    	<li class= <%= "active" if ((controller_name == "products" && action_name == "index") or (controller_name == "products"))%>><%= link_to"Sản phẩm",products_path %></li>
			    	<li class= <%= "active" if (controller_name == "home" && action_name == "about")%>><%= link_to"Thông tin", about_path%></li>
			    	<li class= <%= "active" if (controller_name == "home" && action_name == "service")%>><%= link_to"Dịch vụ",service_path %></li>
			    	<li class= <%= "active" if (controller_name == "home" && action_name == "contact")%>><%= link_to"Liên hệ", contact_path%></li>
			    	<li class= <%= "active" if (controller_name == "home" && action_name == "map")%>><%= link_to"Bản Đồ", map_path%></li>
			    	<div class="clear"></div>
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<%= form_tag(products_search_path, :method=>"get",style: "height:26px") do %>
						<%= text_field_tag :search,params[:search], placeholder:'Search...', class:'text_field' %>
					<% end -%>
	     	</div>
	     	<div class="clear"></div>
	     </div>
   </div>
   <%= yield %>
   <div class="footer">
   	  <div class="wrap">
	     <div class="section group">
				<div class="col_1_of_4 span_1_of_4">
						<h4>Thông tin công ty</h4>
						<ul>
							<li><%= @info.company_name if !@info.nil?%></li>
							<li>VPGD : <%= @info.address if !@info.nil? %></li>
							<li>Hotline :<%= @info.phone if !@info.nil? %>/<%= @info.hotline if !@info.nil?%></li>
							<li>Email :<%= @info.email if !@info.nil?%></li>
							<li>Giờ làm việc: 8h30 - 17h30 từ thứ 2 đến thứ 7.</li>
						</ul>
					</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4> Đơn vị thiết kế web</h4>
						<ul>
							<li>Công ty cổ phần Hiworld</li>
							<li>Mail :info＠hiworld.com.vn</li>
							<li>Website :http://hiworld.com.vn</li>
						</ul>
				</div>
			</div>
        </div>
        <div class="copy_right">
				<p>Company Name © All rights Reseverd | Design by  <%= link_to"http://hiworld.com.vn","http://hiworld.com.vn" %> </p>
		   </div>
    </div>
    <script type="text/javascript">
		$(document).ready(function() {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>

