<%= form_for [:admin,@category] do |f| %>
<div id="main-content">
  <div id="box">
    <div id="action">
      <div class="title">
        Create a new category
      </div>
      <div class="action">
        <ul>
          <li><%= f.submit "Add", :disable_with => 'Adding...' , class: 'btn btn-primary'%></li>
          <li><%= f.submit "Reset", :disable_with => 'Reseting...',class: 'btn btn-info', type:'reset' %></li>
        </ul>
      </div>
    </div>
    <div id="main">
      <table>
        <tr>
          <td class="left"><%= f.label :name, "Tên danh mục" %></td>
          <td><%= f.text_field :name, class: 'form-control' %></td>
        </tr>
        <tr>
          <td class="left">
            <%= f.label :parent_id, "Danh mục cha" %>
          </td>
          <td>
            <%= f.select(:parent_id, options_for_select(@list_parent,@category.parent_id),:include_blank => "Thư mục gốc", class: "form-control") %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<% end -%>
