	<div id="content-header">
	<div id="title">
		Categories List
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu">
				<%= link_to "All products", admin_products_path %>
			</li>
			<li class="content-menu">
				<%= link_to "Categories list", admin_categories_path %>
			</li>
		</ul>
	</div>
</div>
<div id="main-content">
	<div id="action">
		<div id="search">
			<%= form_tag(admin_members_path, :method=>"get") do %>
				<%= text_field_tag :search,params[:search], placeholder:'Search..', class:'text_field' %>
				<%= submit_tag "Search", :disable_with => 'Search...',name: 'member[search]'  ,class:'btn search'%>
			<% end -%>
		</div>
		<div class="action">
			<%= button_to'Add New',new_admin_category_path,class:'btn', method: :get %>
		</div>
	</div>
	<div id="main">
		<table class="table">
			<tr class="head">
				<th>ID</th>
				<th>Category Name</th>	
				<th>Action</th>			
			</tr>
			<% @categories.each do |category|%>
				<tr>
					<td><%= category.id%></td>
					<td><%= category.name %></td>
					<td>
						<%= link_to'Edit',edit_admin_category_path(category) %> &nbsp; &nbsp;
						<%= link_to'Delete',admin_category_path(category),
							method: :delete, 
							data: { confirm:'Are you ok?'} %>&nbsp; &nbsp;
						<%= link_to'View',cate_show_path(category) %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>