<div id="content-header">
	<div id="title">
		Edit Profile
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu"><button class='btn btn-primary'><%= link_to"Back",admin_products_path %></button></li>
		</ul>
	</div>
</div>
<%= form_for :product , url: admin_product_path(@product), method: :put  do |f| %>
<div id="main-content">
	<div id="box">
		<div id="action">
			<div class="title">
				Product Infomation
			</div>
			<div class="action">
				<ul>
					<li><%= f.submit "Update", :disable_with => 'Adding...' , class: 'btn btn-primary'%></li>
					<li><%= f.submit "Reset", :disable_with => 'Reseting...',class: 'btn btn-primary', type:'reset' %></li>
				</ul>
			</div>
		</div>
		<div id="main">
			<table class="table">
				<tr>
					<td class="left tbl-config"><%= f.label :name, "Tên SP " %></td>
					<td><%= f.text_field :name , class:'text_field'%></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :category, "Danh mục SP " %></td>
					<td><%= select_tag"product[category_id]",options_for_select(@category,@product.category.parent_id),style:"float:left"%>
							<input id="cate-hidden" style="display:none" value=<%= @product.category.id%>>
							<div id="sub_cate" style="display:none; float:left"></div>
					</td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :trademak, "Thương hiệu " %></td>
					<td><%= select_tag"product[trademak_id]",options_for_select(@trademak,@product.trademak_id)%></td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :image, "Hình ảnh " %></td>
					<td>
						<%= image_tag("#{@product.image}", size:"150x100",name:'product[old_img]') %>
						<div><%= f.file_field :image %></div>
					</td>
				</tr>
				<tr>
					<td class="left tbl-config"><%= f.label :price, "Gia :" %></td>
					<td><%= f.text_field :price , class:'text_field'%></td>
				</tr>
				<tr>
					<td class="left tbl-config"> <%= f.label :details, "Thông tin" %> </td>
					<td><%= f.cktext_area :details%></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<% end -%>
<script type="text/javascript">
	$(document).ready(function(){
		// $("#product_details").ckeditor();
	});
</script>
