<script>
	$(document).ready(function(){
    $("#checkall").change(function(){
      check=$("#checkall").is(':checked');
      if(check== true){
        $("input[type=checkbox]").prop("checked","checked");
        $("#main-content #action .action #delete").removeAttr('disabled');
      }else{
        $("input[type=checkbox]").removeAttr("checked");
        $("#main-content #action .action #delete").prop('disabled','disabled');

      }
    });

    $("#main-content #main table #check_").change(function(){

    	var checked = false;
    	var checkedAll = true;
    	 $("#main-content #main table #check_").each(function(i,e){
    	 	if ($(e).prop('checked')) {
    	 		checked = true;
    	 	}else{
    	 		checkedAll = false;
    	 	}
    	 });
    	 if (checked) {
    	 	 $("#main-content #action .action #delete").removeAttr('disabled');
    	 }else{
    	 	$("#main-content #action .action #delete").prop('disabled','disabled');
    	 }
    	 if (checkedAll) {
    	 	$("#checkall").prop("checked","checked");
    	 };

    });

 });
</script>
<div id="content-header">
	<div id="title">
		Products List
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu">
				<%= link_to "All products", admin_products_path %>
			</li>
			<li class="content-menu">
				<%= link_to "Categories list", cate_index_path %>
			</li>
		</ul>
	</div>
</div>
<div id="main-content">
	<div id="action">
		<div id="search">
			<%= form_tag(admin_products_path, :method=>"get") do %>
				<%= text_field_tag :search,params[:search], placeholder:'Search...', class:'text_field' %>
				<%= submit_tag "Search", :disable_with => 'Search...',name: 'member[search]' ,class:'btn search'%>
			<% end -%>
		</div>
		<div class="action">
			<%= button_to'Add New',new_admin_product_path,class:'btn', method: :get %>
			<%= form_for :check ,url:delete_admin_products_path do |f| %>
			<%= f.submit "Delete Many", :disable_with => 'Delete Manying...',id:'delete', disabled: true, class:'btn',data:{:confirm => "Are you sure ?"} %>
		</div>
	</div>
	<div id="main">
		<table class="table">
			<tr class="head">
				<th style="width:10px"><input type="checkbox" id="checkall" name="checkall" ></th>	
				<th>ID</th>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Category</th>
				<th>Image</th>
				<th>Action</th>
			</tr>
			<% if @product.count > 0 %>
				<% @product.each  do |product_info|%>
					<tr>
						<td><%= check_box_tag('check[]',product_info.id)%></td>
						<td><%= product_info.id%></td>
						<td><%= product_info.product_id%></td>
						<td><%= product_info.name%></td>
						<td><%= product_info.category.name%></td>
						<td style="width:150px"><%= product_info.image ? image_tag("#{product_info.image}",size:"150x100") : image_tag("no_image.png",size:"150x100")%></td>
						<td style="text-align:center">
							<%= link_to"Show",admin_product_path(product_info)%> &nbsp;&nbsp;
							<%= link_to"Edit",edit_admin_product_path(product_info)%>&nbsp;&nbsp;
							<%= link_to"Delete",admin_product_path(product_info.id), method: :delete, data:{:confirm=>"Are you Ok?"}%>
						</td>
					</tr>
				<% end -%>
			<% else%>
				<tr>
					<td colspan="7", style="text-align:center; font-weight:bold;height:30px"> No Data</td>
				</tr>
			<% end -%>
			<% end -%>
		</table>
		<%= will_paginate @product %>
	</div>
</div>