<div id="content-header">
	<div id="title">
		Products List
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu">
				<%= link_to "All products", admin_products_path %>
			</li>
			<li class="content-menu">
				<%= link_to "Categories list", admin_categories_path %>
			</li>
		</ul>
	</div>
</div>
<div id="main-content">
	<div id="action">
		<div id="search">
			<%= form_tag(admin_members_path, :method=>"get") do %>
				<%= text_field_tag :search,params[:search], placeholder:'Nhập tên', class:'text_field' %>
				<%= submit_tag "Search", :disable_with => 'Search...',name: 'member[search]'  ,class:'btn'%>
			<% end -%>
		</div>
		<div class="action">
			<%= button_to'Add New',new_admin_product_path,class:'btn', method: :get %>
		</div>
	</div>
	<div id="main">
		<table class="table">
			<tr>
				<th>ID</th>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Category</th>
				<th>Image</th>
				<th>Action</th>
			</tr>
			<% if @product.count > 0 %>
				<% @product.each  do |product_info|%>
					<tr>
						<td><%= product_info.id%></td>
						<td><%= product_info.product_id%></td>
						<td><%= product_info.name%></td>
						<td><%= product_info.category.name%></td>
						<td style="width:150px"><%= image_tag("#{product_info.image}",size:"150x100")%></td>
						<td style="text-align:center">
							<%= link_to"Show",admin_product_path(product_info.id)%> &nbsp;&nbsp;
							<%= link_to"Edit",edit_admin_product_path(product_info.id)%>&nbsp;&nbsp;
							<%= link_to"Delete",admin_product_path(product_info.id), method: :delete, data:{:confirm=>"Are you Ok?"}%>
						</td>
					</tr>
				<% end -%>
			<% else%>
			<% end -%>
		</table>
		<%= will_paginate @product %>
	</div>
</div>