<div id="content-header">
	<div id="title">
		<%= t('admin.product.header.list_all')%>
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu">
				<%= link_to "Tất cả SP", admin_products_path %>
			</li>
			<li class="content-menu">
				<%= link_to "Danh mục loại SP", cate_index_path %>
			</li>
			<li class="content-menu">
				<%= link_to "Danh sách thương hiệu",admin_trademaks_path%>
			</li>
		</ul>
	</div>
</div>
<div id="main-content">
	<div id="action">
		<div id="search">
			<%= form_tag(admin_products_path, :method=>"get") do %>
				<%= text_field_tag :search,params[:search], placeholder:'Search...', class:'form-control' %>
				<%= submit_tag t('admin.main.search'), :disable_with => 'Search...',name: 'member[search]' ,class:'btn btn-primary'%>
			<% end -%>
		</div>
		<div class="action">
			<%= button_to t('admin.main.addnew'),new_admin_product_path,class:'btn btn-primary', method: :get %>
			<%= form_for :check ,url:delete_admin_products_path do |f| %>
			<%= f.submit t('admin.main.del_many'), :disable_with => 'Delete Manying...',id:'delete', disabled: true, class:'btn btn-danger',data:{:confirm => "Are you sure ?"} %>
		</div>
	</div>
	<div id="main">
		<table class="table">
			<tr class="head">
				<th style="width:10px"><input type="checkbox" id="checkall" name="checkall" onchange="check_all()" ></th>
				<th>Tên SP</th>
				<th>Loại SP</th>
				<th>Thương hiệu</th>
				<th>Giá</th>
				<th>Hình ảnh</th>
				<th>Action</th>
			</tr>
			<%= render @product.count > 0 ? @product : "not"%>
		</table>
		<% end -%>
		<%= will_paginate(@product,option_paginate) %>
	</div>
</div>
