<div id="content-header">
	<div id="title">
		Profile
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu"><button class="btn"><%= link_to"Edit",edit_admin_product_path(@product.id)%></button></li>
			<li class="content-menu"><button class='btn'><%= link_to"Back",admin_products_path %></button></li>
		</ul>
	</div>
</div>
<%= form_for :product , url: admin_products_path do |f| %>
<div id="main-content">
	<div id="box">
		<div id="action">
			<div class="title">
				Product Infomation
			</div>
		</div>
		<div id="main">
			<table>
				<tr>
					<td class="left"><%= f.label :name, "Tên SP " %></td>
					<td><%= @product.name%></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :category, "Danh mục sản phẩm " %></td>
					<td><%= @product.category.name %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :category, "Thương hiệu :" %></td>
					<td><%= @product.category.name %></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :image, "Hình ảnh " %></td>
					<td><%= image_tag("#{@product.image}",size:"150x100")%></td>
				</tr>
				<tr>
					<td class="left"><%= f.label :price, "Giá " %></td>
					<td><%= @product.price 	%></td>
				</tr>
				<tr>
					<td class="left"> <%= f.label :details, "Thông tin" %> </td>
					<td><%= raw @product.details%></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<% end -%>
