<script type="text/javascript">
	$(document).ready(function(){
		$(".header_bottom .menu ul li.product").css("background","#2CAF0B");
	});
</script>
	<div class="content">
	<%if Category.where("parent_id = #{@category.id}").count > 0%>
		<% Category.where("parent_id = #{@category.id}").each do |category|%>
			<div class="content_top">
				<div class="heading">
					<h3><img src="/assets/icon-menu.png" style="width:16px;float:left;margin:4px 10px 0px 0px;"/><span class="cate">Sản Phẩm<img src="/assets/next_icon.gif" style="width:20px"/></span><span class="catesub"><%=category.name%></span></h3>
				</div>
				<div class="clear"></div>
			</div>
			<div class="section group">
				<% if category.products.count > 0 %>
					<% category.products.each do |product| %>
						<div class="grid_1_of_4 images_1_of_4">
							<a href="preview.html"><%= image_tag("#{product.image}",size:"100x200" )%></a>
							<h2><%= product.name%></h2>
							<div class="price-details">
						       <div class="price-number">
									<p><span class="rupees">Giá : Liên Hệ</span></p>
							    </div>
							       		<div class="add-cart">
											<h4><%= link_to"Chi tiết",products_view_path(product), method: :get%></h4>
									     </div>
									 <div class="clear"></div>
							</div>
						</div>
					<% end -%>
				<% else%>
					<div class="section group">
						<div class="grid_1_of_4 images_1_of_4">
							Không có sản phẩm nào
						</div>
					</div>
				<% end -%>
			</div>
		<% end -%>
	<% else %>
		<div class="content_top">
			<div class="heading">
				<h3><span>Sản Phẩm<span></h3><img src="/assets/next_icon.gif" class="sub"/><h4><%=@category.name%></h4>
			</div>
			<div class="clear"></div>
		</div>
		<div class="section group">
			<% if @category.products.count > 0 %>
				<% @category.products.each do |product| %>
					<div class="grid_1_of_4 images_1_of_4">
						<a href="preview.html"><%= image_tag("#{product.image}",size:"100x200" )%></a>
						<h2><%= product.name%></h2>
						<div class="price-details">
					       <div class="price-number">
								<p><span class="rupees">Giá : Liên Hệ</span></p>
						    </div>
						       		<div class="add-cart">
										<h4><%= link_to"Chi tiết",products_view_path(product), method: :get %></h4>
								     </div>
								 <div class="clear"></div>
						</div>
					</div>
				<% end -%>
			<% else%>
				<div class="section group">
					<div class="grid_1_of_4 images_1_of_4">
						Không có sản phẩm nào
					</div>
				</div>
			<% end -%>
		</div>
	<% end -%>
	</div>
 </div>
