<% @category.each do |category|%>
	<% if Category.subcategories(category.id).count > 0 %>
		<% Category.subcategories(category.id).each do |subcate|%>
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<div style="float:left"><img class="home" src="/assets/icon-menu.png"/></div>
						<div style="float:left"><h3 style="margin-top:0px"><%= category.name%></h3></div>
						<div style="float:left"><img class="sub" src="/assets/next_icon.gif" style="margin-top: -3px" /></div>
						<div style="float:left"><h4 style="margin-top:0px"><%= subcate.name%></h4></div>
					</div>
					 <div class="see">
		    			<p><%= link_to"Tất cả sản phẩm", category_path(subcate)%></p>
		    		</div>
					<div class="clear"></div>
				</div>
				<div class="section group">
					<% if subcate.products.count > 0 %>
						<% subcate.products.each do |product| %>
							<div class="grid_1_of_4 images_1_of_4">
								<a href="#"><%= image_tag("#{product.image}",size:"100x200" )%></a>
								<h2><%= product.name%></h2>
								<div class="price-details">
							       <div class="price-number">
										<p><span class="rupees">Giá : Liên Hệ</span></p>
								    </div>
								       		<div class="add-cart">
												<h4><%= link_to"Chi tiết",products_view_path(product), method: :get %></h4>
										     </div>
										 <div class="clear"></div>
								</div>
							</div>
						<% end -%>
					<% else %>
						<div class="grid_1_of_4 images_1_of_4">
							Không có sản phẩm nào
						</div>
					<% end -%>
				</div>
			</div>
		<% end -%>
	<% else %>
		<div class="content">
			<div class="content_top">
				<div class="heading">
					<div style="float:left"><img src="/assets/icon-menu.png" style="width:16px;float:left;margin:0px 10px 0px 0px;"/></div>
					<div style="float:left;"><h3 style="margin-top:0px"><%= category.name%></h3></div>
				</div>
				 <div class="see">
	    			<p><%= link_to"Tất cả sản phẩm", category_path(category)%></p>
	    		</div>
				<div class="clear"></div>
			</div>
			<div class="section group">
				<% if category.products.count > 0 %>
					<% category.products.each do |product| %>
						<div class="grid_1_of_4 images_1_of_4">
							<a href="#"><%= image_tag("#{product.image}",size:"100x200" )%></a>
							<h2><%= product.name%></h2>
							<div class="price-details">
						       <div class="price-number">
									<p><span class="rupees">Giá : Liên Hệ</span></p>
							    </div>
							       		<div class="add-cart">
											<h4><%= link_to"Chi tiết",products_view_path(product), method: :get%></h4>
									     </div>
									 <div class="clear"></div>
							</div>
						</div>
					<% end -%>
				<% else %>
					<div class="grid_1_of_4 images_1_of_4">
						Không có sản phẩm nào
					</div>
				<% end -%>
			</div>
		</div>
	<% end -%>
<% end -%>
</div>
