<% @category.each do |category|%>
	<% if Category.subcategories(category.id).count > 0 %>
		<% Category.subcategories(category.id).each do |subcate|%>
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<div class="icon-menu" ><img class="icon-menu" src="/assets/icon-menu.png"/></div>
						<div class="cate-name" ><h3 style="margin-top:0px"><%= category.name%></h3></div>
						<div  class="icon-next" ><img class="sub" src="/assets/next_icon.gif" /></div>
						<div class="cate-sub" ><h4 style="margin-top:0px"><%= subcate.name%></h4></div>
					</div>
					 <div class="see">
		    			<p><%= link_to"Tất cả sản phẩm", category_path(subcate)%></p>
		    		</div>
					<div class="clear"></div>
				</div>
				<div class="section group">
					<%= render subcate.products.count > 0 ? subcate.products : "not" %>
				</div>
			</div>
		<% end -%>
	<% else %>
		<div class="content">
			<div class="content_top">
				<div class="heading">
					<div class="icon-menu"><img src="/assets/icon-menu.png" class="icon-menu" /></div>
					<div class="cate-name"><h3><%= category.name%></h3></div>
				</div>
				 <div class="see">
	    			<p style="line-height:40px"><%= link_to"Tất cả sản phẩm", category_path(category)%></p>
	    		</div>
				<div class="clear"></div>
			</div>
			<div class="section group">
				<%= render category.products.count > 0 ? category.products : "not" %>
			</div>
		</div>
	<% end -%>
<% end -%>
</div>
