
<% @category.each do |category|%>
	<div class="content">
		<div class="content_top">
			<div class="heading">
				<h3><%= category.name%></h3>
			</div>
			 <div class="see">
    			<p><%= link_to"See all products", category_path("#{category.id}")%></p>
    		</div>
			<div class="clear"></div>
		</div>
		<div class="section group">
		<% if category.products.count > 0 %>
			<% category.products.each do |product| %>
				<div class="grid_1_of_4 images_1_of_4">
					<a href="preview.html"><%= image_tag("#{product.image}",size:"210x150" )%></a>
					<h2><%= product.name%></h2>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">Giá : Liên Hệ</span></p>
					    </div>
					       		<div class="add-cart">								
									<h4><%= link_to"Chi tiết",products_view_path(product.id)%></h4>
							     </div>
							 <div class="clear"></div>
					</div>				     
				</div>
			<% end -%>
		<% else %>
			<div class="grid_1_of_4 images_1_of_4">
				Không có sản phẩm nào
			</div>
		<% end -%>
		</div>
	</div>
<% end -%>