<style type="text/css">
	.details h3.title{
		font-size: 20px;
    border-bottom: 3px solid rgb(105, 160, 99);
	}
</style>
<div class="main">
    <div class="content">
    	<div class="content_top">
        <div class="heading">
      		<div class="back-links">
            <div class="cate-name"><h1>Sản Phẩm</h1></div>
            <div class="icon-next"><img src="/assets/next_icon.gif" style="width:16px"/></div>
            <div class="cate-name-sub"><h2><%= link_to"#{@product.category.name}", products_view_path(@product.category)%></h2></div>
            <div class="icon-next"><img src="/assets/next_icon.gif" style="width:16px"/></div>
            <div class="cate-sub"><h3><%= link_to"#{@product.name}",products_view_path(@product)%></h3></div>
      		  <div class="clear"></div>
          </div>
        </div>
    	</div>
    	<div class="section group">
				<div class="cont-desc span_1_of_2" style="border-right: 1px solid #F6F6F6;padding:10px 0px">
				  <div class="product-details">
  					<div class="grid images_3_of_2" style="width:140px;margin-left:12%">
  						<div id="container">
    						<div id="products_example">
    							 <div id="products">
      							<div class="slides_container">
      								<a href="#" target="_blank"><%= image_tag("#{@product.image}",size:"300x220","data-zoom-image"=>"/assets/#{@product.image}",id:"#{@product.slug}",title:"@product.name")%></a>
      							</div>
    							</div>
    						</div>
    					</div>
  				  </div>
      			<div class="desc span_3_of_2" style="float: right;">
      				<div class="product-info">
                <span  class="label" style="float:none">Tên Sản Phẩm:  &nbsp;</span>
                <h1 class='info'><%= @product.name %></h1>
              </div>
      				<div class="product-info">
                <span class="label" style="float:none">Danh mục sản phẩm: &nbsp;</span>
                <h2 class='info'><%= @product.category.name %></h2>
              </div>
      				<div class="product-info">
                <span class="label">Hãng sản xuất: &nbsp;</span>
                <h3 class='info'><%= @product.trademak.name %></h3>
              </div>
              <div class="product-info" style="overflow:hidden">
                <span class="label">Bảo hành: &nbsp; </span>
                <span class='info'><%= @product.gurantee %></span>
              </div>
              <div class="product-info" style="overflow:hidden">
                <span class="label">Tình trạng:  &nbsp;</span>
                <span class='info'> Còn hàng</span>
              </div>
      				<div class="product-info" style="overflow:hidden">
                <span class="label">Giá: &nbsp; </span>
                <span class='info'>Vui lòng liên hệ <%= @info.phone%></span>
              </div>
      			</div>
      			<div class="clear"></div>
      			<br />
      			<div class="details">
      				<h3 class="title">Thông tin sản phẩm</h3>
              <div class="section group">
                <%= raw @product.details%>
              </div>
      			</div>
	        </div>
          <div class="comment-fb">
            <div class="fb-comments" data-href=<%= "https://www.facebook.com/nuocsachhadung-#{@product.id}"%> data-numposts="5"></div>
          </div>
   <div id="fb-root"></div>
   <div id="tag_cloud">
   Tags:
    <% tag_cloud Product.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>
   <div class="content_top">
    		<div class="heading">
          <div class="cate-name">
    		    <h3>Sản phẩm liên quan</h3>
    		  </div>
        </div>
    		<div class="see">
    			<p><%= link_to"Tất cả sản phẩm",products_view_path(@product.category)%></p>
    		</div>
    		<div class="clear"></div>
    	</div>
   <div class="section group">
   			<% @product.category.products.order(id: :desc).limit(5).each do |product|%>
				<div class="grid_1_of_4 images_1_of_4">
						<%= link_to image_tag("#{product.image}",size:"100x150" ), products_view_path(product),title: "#{product.name}"%>
						<h2 style="font-size:9px;height:30px;margin-top:10px;"><%= truncate(product.name,length:30)%></h2>
						<div class="price-details">
				       		<div class="add-cart">
								<h4><%= link_to"Chi tiết",products_view_path(product), method: :get%></h4>
						    </div>
						 <div class="clear"></div>
						</div>
					</div>
			<% end -%>
			</div>
        </div>
				<div class="rightsidebar span_3_of_1">
					<h2 style="font-family: sans-serif;">DANH MỤC</h2>
					<ul style="background:rgb(7, 129, 59)">
						<% @category_all.each do |category|%>
							<li><%= link_to"#{category.name}",products_view_path(category),style: 'color: #FAF2F2;' ,title:"#{category.name}"%>
									<% if Category.subcategories(category.id).count > 0%>
										<ul style="  margin-left: 20px;font-size: 13px;">
											<% Category.subcategories(category.id).each do |sub|%>
													<li><%= link_to"#{sub.name}",products_view_path(sub),style: 'color: #FAF2F2;' ,title: "#{sub.name}"%>
													</li>
											<% end -%>
										</ul>
									<% end -%>
							</li>
						<% end -%>
    				</ul>
    			</div>
 		</div>
 	</div>
    </div>
 </div>

</div>
</div>
<script>
  $(document).ready(function () {
    var id = "<%= @product.slug %>";
    $(".header_bottom .menu ul li.product").css("background","#B81D22");
    $("#"+id).elevateZoom({});
  });
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
