<style type="text/css">
	.details h3.title{
		 height: 40px;
  		font-size: 20px;
  		text-decoration: underline;
	}
</style>
<div class="main">
    <div class="content">
    	<div class="content_top">
        <div class="heading">
      		<div class="back-links">
            <div class="icon-menu"><img src="/assets/icon-menu.png" style="width:15px;margin-right:5px"/></div>
            <div class="cate-name"><h3>Sản Phẩm</h3></div>
            <div class="icon-next"><img src="/assets/next_icon.gif" style="width:16px"/></div>
            <div class="cate-name"><h3><%= link_to"#{@product.category.name}", category_path(@product.category)%></h3></div>
            <div class="icon-next"><img src="/assets/next_icon.gif" style="width:16px"/></div>
            <div class="cate-sub"><h4 style="line-height:17px"><%= link_to"#{@product.name}",products_view_path(@product)%></h4></div>
      		  <div class="clear"></div>
          </div>
        </div>  
    	</div>
    	<div class="section group">
				<div class="cont-desc span_1_of_2" style="border-right: 1px solid #F6F6F6;padding:10px 0px">
				  <div class="product-details">
  					<div class="grid images_3_of_2" style="width:140px;margin-left:12%">
  						<div id="container">
    						<div id="products_example">
    							 <div id="products">
      							<div class="slides_container">
      								<a href="#" target="_blank"><%= image_tag("#{@product.image}",size:"300x220","data-zoom-image"=>"/assets/#{@product.image}",id:"#{@product.slug}")%></a>
      							</div>
    							</div>
    						</div>
    					</div>
  				  </div>
      			<div class="desc span_3_of_2" style="float: right;margin-top: 10px;">
      				<p><span style ="color:rgb(100, 99, 99)">Tên:  &nbsp;</span><span class='info'><%= @product.name %></span></p>
      				<p><span style ="color:rgb(100, 99, 99)">Danh mục sản phẩm: &nbsp;</span><span class='info'><%= @product.category.name %></span></p>
      				<p><span style ="color:rgb(100, 99, 99)">Hãng sản xuất: &nbsp;</span><span class='info'><%= @product.trademak.name %></span></p>
              <p><span style ="color:rgb(100, 99, 99)">Bảo hành: &nbsp; </span><span class='info'><%= @product.gurantee %></span></p>
              <p><span style ="color:rgb(100, 99, 99)">Tình trạng:  &nbsp;</span><span class='info'> Còn hàng</span></p>
      				<p><span style ="color:rgb(100, 99, 99)">Giá: &nbsp; </span><span class='info'>Vui lòng liên hệ <%= @info.phone%></span></p>
      			</div>
      			<div class="clear"></div>
      			<br />
      			<div class="details">
      				<h3 class="title">Thông tin sản phẩm</h3>
              <div class="section group">
                <%= raw @product.details%>
              </div>
      			</div>
	        </div>
          <div class="comment-fb">
            <div class="fb-comments" data-href=<%= "https://www.facebook.com/nuocsachhadung-#{@product.id}"%> data-numposts="5"></div>
          </div>
   <div id="fb-root"></div>
   <div class="content_top">
    		<div class="heading">
          <div class="cate-name">
    		    <h3>Sản phẩm liên quan</h3>
    		  </div>
        </div>
    		<div class="see">
    			<p><a href="#">Tất cả sản phẩm</a></p>
    		</div>
    		<div class="clear"></div>
    	</div>
   <div class="section group">
   			<% @product.category.products.each do |product|%>
				<div class="grid_1_of_4 images_1_of_4">
						<%= link_to image_tag("#{product.image}",size:"100x150" ), products_view_path(product),title: "#{product.name}"%>
						<h2 style="font-size:9px;height:30px;margin-top:10px;"><%= truncate(product.name,length:30)%></h2>
						<div class="price-details">
				       		<div class="add-cart">
								<h4><%= link_to"Chi tiết",products_view_path(product), method: :get%></h4>
						    </div>
						 <div class="clear"></div>
						</div>
					</div>
			<% end -%>
			</div>
        </div>
				<div class="rightsidebar span_3_of_1">
					<h2 style="font-family: sans-serif;">DANH MỤC</h2>
					<ul style="background:rgb(7, 129, 59)">
						<% @category_all.each do |category|%>
							<li><%= link_to"#{category.name}",category_path(category),style: 'color: #FAF2F2;' %>
									<% if Category.subcategories(category.id).count > 0%>
										<ul style="  margin-left: 20px;font-size: 13px;">
											<% Category.subcategories(category.id).each do |sub|%>
													<li><%= link_to"#{sub.name}",category_path(sub),style: 'color: #FAF2F2;' %>
													</li>
											<% end -%>
										</ul>
									<% end -%>
							</li>
						<% end -%>
    				</ul>
    			</div>
 		</div>
 	</div>
    </div>
 </div>

</div>
</div>
<script>
  $(document).ready(function () {
     var id = "<%= @product.slug %>";
  $(".header_bottom .menu ul li.product").css("background","#B81D22");
  $("#"+id).elevateZoom({});
  });
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
