<script type="text/javascript">
$(document).ready(function(){
  initialize();
});
</script>
<div class="main" >
  <div class="content">
    	<div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
					<% if @contact.errors.any? %>
					 	    <div class="error">
						    <h2 style="font-family:sans-serif">Quý khách Vui lòng điền đầy đủ thông tin :</h2>

						    <ul>
						   		 <% @contact.errors.full_messages.each do |msg| %>
						     		 <li><%= msg %></li>
						   		 <% end %>
						    </ul>
					  	</div>
					<% end %>
					  <% if flash[:success] %>
					  		<h3><%= flash[:success]%></h3>
					  <% else %>
					  	<h2>Vui lòng liên hệ với chúng tôi</h2>
						<%= form_for :contact, url:contact_path, method: :post do |f|%>
						    	<div>
							    	<span><%= f.label :name, "Tên" %></span>
							    	<span><%= f.text_field :name %></span>
							    </div>
							    <div>
							    	<span><%= f.label :sdt, "SĐT" %></span>
							    	<span><%= f.text_field :phone %></span>
							    </div>
							    <div>
							    	<span><%= f.label :email, "Email" %></span>
							    	<span><%= f.text_field :email %></span>
							    </div>
							    <div>
							     	<span><%= f.label :company, "Company" %></span>
							    	<span><%= f.text_field :company %></span>
							    </div>
							    <div>
							    	<span><%= f.label :subject, "  Nội Dung" %></span>
							    	<span><%= f.text_area :subject,rows:100,cols:76 %></span>
							    </div>
							   <div>
							   		<span><%= f.submit "Send", :disable_with => 'Submiting...' , class: 'btn-primary'%></span>
							  </div>
						    <% end -%>
					  <% end -%>
				  </div>
  			</div>
  			<div class="col span_2_of_3" style="margin-left:0px">
						<div class="contact_info">
  	 					<h2>Find Us Here</h2>
				    	  <div id="div_id" style="height:325px; width:750px"></div>
    				</div>
    		</div>
			</div>
  </div>
</div>
</div>
