<script type="text/javascript">
	$(document).ready(function(){
		$(".categories li ul.subcate li").mouseover(function(){
			$(this).parent().parent().css("background","rgb(247, 247, 247)");
		});
		$(".categories li ul.subcate li").mouseout(function(){
			$(this).parent().parent().css("background","#FFF");
		});
	});
</script>
 <div class="header_slide">
			<div class="header_bottom_left">
				<div class="categories">
				  <ul class="product">
				  	<h3><i class="fa fa-list" style='margin-right:10px'></i>Danh mục</h3>
						<% @category.each do |cate|%>
							<li class="top-level"><%= link_to products_view_path(cate) do %>
                    <i class="fa fa-hand-o-right" style="float:left"></i>
                    <span><%= cate.name%></span>
                  <% end -%>
								<% if Category.subcategories(cate.id).count > 0 %>
									<ul class="subcate">
										<% Category.subcategories(cate.id).each do |subcate| %>
											<li>
                        <%= link_to products_view_path(subcate) do %>
                          <i class="fa fa-hand-o-right" style="float:left"></i>
                          <span><%= subcate.name%></span>
                        <% end -%>
                      </li>
										<% end -%>
									</ul>
								<% end -%>
							</li>
						<% end -%>
				  </ul>
				</div>
				<br/>
				<br/>
				<div class="categories">
					<ul>
						<h3><i class="fa fa-phone-square" style="margin-right:10px"></i>Hỗ trợ</h3>
						<li><a>
              <i class="fa fa-mobile"></i>
              Phone: <font color="red"><%= @info.phone if !@info.nil?%></font></a></li>
						<li><a>
              <i class="fa fa-h-square"></i>
              Hotline: <font color="red"><%= @info.hotline if !@info.nil?%></font></a></li>
					</ul>
				</div>
	  	     </div>
					 <div class="header_bottom_right">
					 	 <div class="slider">
							 <div id="slider">
                  <div id="mover">
                    <div id="slide-1">
                      <%= render Slide.where(active:true)%>
			              </div>
                  </div>
		            </div>
					 <div class="clear"></div>
		         </div>
		      </div>
		   <div class="clear"></div>
		</div>
 <div class="main">
  <div class="content">
  		<div class="new">
	  		<div class="content_top">
				<div class="heading">
					<div class="cate-name" ><h3 style="margin-top:0px">Sản Phẩm Mới</h3></div>
				</div>
					<div class="clear"></div>
				</div>
				<div class="section group">
					<%= render @products_new %>
				</div>
			</div>
    	<% @category.each do |category|%>
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<div class="cate-name"><h3><%= category.name%></h3></div>
						<span class="sl"> có <label class='count'><%= Category.count(category.id) %></label> Sản phẩm</span>
					</div>
				  <div class="see">
	    			<p>
              <%= link_to products_view_path(category) do %>
                Tất cả sản phẩm
                <i class="fa fa-arrow-circle-right"></i>
              <% end -%>
            </p>
	    		</div>
					<div class="clear"></div>
				</div>
				<div class="section group">
				<% if Category.count(category.id) > 0 %>
					<% if Category.subcategories(category.id).count > 0 %>
						<% Category.where(parent_id: category).each do |subcate| %>
							<%= render subcate.products.limit(5).order(id: :desc) %>
						<% end -%>
					<% else %>
						<%= render category.products.limit(5).order(id: :desc) %>
					<% end -%>
				<% else %>
					<%= render "home/products/not.html.erb"%>
				<% end -%>
				</div>
			</div>
		<% end -%>
  </div>
 </div>
</div>
