<script type="text/javascript">
	$(document).ready(function(){
		$(".categories li ul.subcate li").mouseover(function(){
			$(this).parent().parent().css("background","rgb(247, 247, 247)");
		});
		$(".categories li ul.subcate li").mouseout(function(){
			$(this).parent().parent().css("background","#FFF");
		});
	});
</script>
<style type="text/css">
	span.sl{
		font-size: 13px;
  	color: rgba(79, 72, 72, 0.74);
  	line-height: 24px;
  	margin-left: 10px;
	}
</style>
 <div class="header_slide">
			<div class="header_bottom_left">
				<div class="categories">
				  <ul>
				  	<h3>Danh mục</h3>
						<% @category.each do |cate|%>
							<li><%= link_to "#{cate.name}", category_path(cate)%>
								<% if Category.subcategories(cate.id).count > 0 %>
									<ul class="subcate">
										<% Category.subcategories(cate.id).each do |subcate| %>
											<li><%= link_to "#{subcate.name}",category_path(subcate)%></li>
										<% end -%>
									</ul>
								<% end -%>
							</li>
						<% end -%>
				  </ul>
				</div>
				<br/>
				<br/>
				<div class="categories">
					<ul>
						<h3>Hỗ trợ</h3>
						<li><a>Phone: <font color="red"><%= @info.phone if !@info.nil?%></font></a></li>
						<li><a>Hotline: <font color="red"><%= @info.hotline if !@info.nil?%></font></a></li>
						<li></li>
						<!-- <li><a style="background:none" id="skype">Skype: <span style="text-transform:none; color:red"><%= @info.skype if !@info.nil?%></span>
							<script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>

								<div id="SkypeButton_Call_hoangkienhy91_1" style="margin-top: -19px;margin-bottom: -23px;margin-left: -20px;" >
								  <script type="text/javascript">
								    Skype.ui({
								      "name": "call",
								      "element": "SkypeButton_Call_hoangkienhy91_1",
								      "participants": ["hoangkienhy91"],
								      "imageSize": 24
								    });
								  </script>
								</div>
						</a></li> -->
					</ul>
				</div>
	  	     </div>
					 <div class="header_bottom_right">
					 	 <div class="slider">
							 <div id="slider">
                  <div id="mover">
                  	<div id="slide-1" class="slide">
									 		<div class="slider-img">
									     <a href="preview.html"><%= image_tag("slide/may-loc-nuoc-ro.jpg", style: "height: 265px;")%></a>
									  	</div>
			             		<div class="slider-text">
	                      <h1> May loc nuoc RO</h1>
	                      <h2>UPTo 20% OFF</h2>
										    <div class="features_list">
										   		<h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>
						            </div>
					             	<!-- <a href="preview.html" class="button">Shop Now</a> -->
		                   </div>
								  		<div class="clear"></div>
	                  </div>
			             	<div class="slide">
			             		<div class="slider-text">
                          <h1>Clearance SALE</h1>
                          <h2>UPTo 40% OFF</h2>
											    <div class="features_list">
											   		<h4>Get to Know More About Our Memorable Services</h4>
							            </div>
							            <!-- <a href="preview.html" class="button">Shop Now</a> -->
		                  </div>
				             	<div class="slider-img">
								     		<a href="preview.html"><%= image_tag("slide/he-thong-loc-nuoc.jpg", style: "height: 265px;")%></a>
										  </div>
										  <div class="clear"></div>
	                  </div>
	                  <div class="slide">
		                  <div class="slider-img">
									    	<a href="preview.html"><%= image_tag("slide/loc-nuoc-moi.jpg" , style:"height: 265px;")%></a>
									  	</div>
										  <div class="slider-text">
	                      <h1>Clearance SALE</h1>
	                      <h2>UPTo 10% OFF</h2>
										   	<div class="features_list">
										   		<h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>
								        </div>
					             	<!-- <a href="preview.html" class="button">Shop Now</a> -->
						          </div>
										  <div class="clear"></div>
	                  </div>
			            </div>
		            </div>
					 <div class="clear"></div>
		         </div>
		      </div>
		   <div class="clear"></div>
		</div>
 <div class="main">
    <div class="content">
    	<% @category.each do |category|%>
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<img src="/assets/icon-menu.png" style="width:16px;float:left;margin:0px 10px 0px 0px;"/><h3><%= category.name%></h3>
						<span class="sl"><%= "- có " +Category.count(category.id).to_s + " Sản phẩm" %> </span>
					</div>
					 <div class="see">
		    			<p><%= link_to"Tất cả sản phẩm", category_path(category)%></p>
		    		</div>
					<div class="clear"></div>
				</div>
				<div class="section group">
				<% if Category.count(category.id) > 0 %>
					<% if Category.subcategories(category.id).count > 0 %>
						<% Category.where(parent_id: category).each do |subcate| %>
							<% subcate.products.limit(5).order(id: :desc).each do |product| %>
								<div class="grid_1_of_4 images_1_of_4">
									<%= link_to image_tag("#{product.image}",size:"130x220" ), products_view_path(product),method: :get,title:"#{product.name}"%>
									<h2 style="height:30px"><%= truncate(product.name, length:40)%></h2>
									<div class="price-details">
								       <div class="price-number">
											<p><span class="rupees">Giá : Liên Hệ</span></p>
									    </div>
									       		<div class="add-cart">
													<h4><%= link_to"Chi tiết",products_view_path(product),method: :get%></h4>
											     </div>
											 <div class="clear"></div>
									</div>
								</div>
							<% end -%>
						<% end -%>
					<% else %>
						<% category.products.each do |product| %>
							<div class="grid_1_of_4 images_1_of_4">
								<%= link_to image_tag("#{product.image}" ), products_view_path(product), method: :get,title:"#{product.name}"%>
								<h2 style="height:30px"><%= truncate(product.name, length:40)%></h2>
								<div class="price-details">
							       <div class="price-number">
										<p><span class="rupees">Giá : Liên Hệ</span></p>
								    </div>
								       		<div class="add-cart">
												<h4><%= link_to"Chi tiết",products_view_path(product),method: :get%></h4>
										     </div>
										 <div class="clear"></div>
								</div>
							</div>
						<% end -%>
					<% end -%>
				<% else %>
					<div class="grid_1_of_4 images_1_of_4">
						Không có sản phẩm nào
					</div>
				<% end -%>
				</div>
			</div>
		<% end -%>
    </div>
 </div>
</div>
